<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HEALTHY TOYS</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <img src="/img/logos/Healthy-Toys-Logo+text-22.png" alt="logo">
  </header>
  <main>
  <a href=""><img class="icons" src="/img/logos/www-svgrepo-com (1).svg" alt="logo_youtube"> www.healthytoys.com.ar</a>
  <a href="https://www.youtube.com/@HealthyToys"><img class="icons" src="/img/logos/youtube-icon-logo-svgrepo-com.svg" alt="logo_youtube"> @HealthyToys</a>
  <a href="https://www.instagram.com/bouncer.juego/"><img class="icons" src="/img/logos/instagram-2-1-logo-svgrepo-com.svg" alt="logo_youtube"> @bouncer.juego</a>
  </main>
</body>
</html>